@model DevUtilitiesV2MVCApp.Models.Exercises

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Exercises</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exercise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VarableData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VarableData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Langues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Langues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedSolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedSolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
